* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: black;
}

h1 {
  color: rgb(150, 200, 28);
  margin-top: 30px;
  margin-bottom: 30px;
}

div:not(#playerMove), p{
  margin: 20px 20px;
  text-align: left;
  font-size: 20px;
  display: flex;
  color: rgb(150, 200, 28);
}

button {
  padding: 10px 20px 10px 20px;
  background-color: rgb(150, 200, 28);
  border: none;
  border-radius: 10px;
  color: rgb(200, 250, 210);
  font-style: italic;
  font-size: 15px;
  width: 150px;
}
